<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <header class="headbox">
      <div class="container">
        <div class="head_top">
          <!-- <a class="logo" href="https://www.bawge.com/" title="黑白阁">
            <img src="https://www.bawge.com/usr/themes/MeaWord/assets/img/logo.png" alt="">
          </a> -->
          <a class="logo" th:href="@{/}" th:text="${site?.title}">
            <b th:text="${site?.title}"></b>
          </a>
          <div class="top_right">
            <th:block th:insert="~{fragments/common :: menu_main}"></th:block>
          </div>
        </div>
      </div>
    </header>
  </th:block>
</html>
